@import 'vars';
@import 'mixins';


.root {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: $color-black;
  background-color: $color-yellow;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;

  &:hover{
    background-color: $color-yellow--hover;
  }
}
