@import 'vars';
@import 'mixins';


.root {
  color: $color-black;
  background-color: $color-yellow;
  cursor: pointer;
  border-radius: 5px;
  padding: 9px;
  font-size: 14px;

  &:hover{
    background-color: $color-yellow--hover;
  }
}
