@import "vars";


.root {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: $color-yellow;
  box-shadow: 0 3px 6px rgba(0,0,0, .1);
  z-index: 2;
}


.item{
  display: flex;
  position: relative;
  padding: 0 20px;
  font-size: 16px;
  align-items: center;
  color: $color-black;
  cursor: pointer;

  &.active{
    background-color: $color-white;
  }
}
