<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <!-- Encoding -->
        <meta http-equiv = "Content-Type" content = "type;" charset="utf-8">

        <!-- Compatibility -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- View -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Title -->
        <title>Поставьте 5</title>
    </head>
    <body></body>
</html>
